*{
    box-sizing: border-box;
    padding: 0;
}

.div-body{
    height: 98vh;
    width: auto;
    border: black solid 5px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

#action{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

#changeBackground{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    max-width: 90%;
    color: blue;
    background-color: rgb(202, 202, 202);
    font-size: 3rem;
    margin: auto;
    text-align: center;
    justify-content: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
 }


#button-div{
    display: flex;
    flex-direction: column;
 }

#changeBackground:hover{
    background-color: rgb(91, 186, 230);
}

#h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    /* position: fixed; */
    width: 100vw;
    font-weight: 900;
}

@media(max-width: 700px){
    
    #changeBackground{
    display: flex;
    max-width: 70%;
    font-size: 2rem;
    }

    #div-body{
        margin-top: 4rem;
    }
    #h1{
        font-size: 1rem;
    }

    #button-div{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }
 }

 @media(max-width: 1600px){
    
    #changeBackground{
    display: flex;
    max-width: 70%;
    font-size: 2rem;
    margin-top: 5rem;
 }

 
 #h1{
    font-size: 2rem;
}
}

@media(max-height: 1000px){
    
    #changeBackground{
        display: flex;
        max-width: 70%;
        font-size: 2.3rem;
    }

    #h1{
        font-size: 2rem;
    }

    #button-div{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
}

@media(max-height: 500px){
    
    #changeBackground{
        display: flex;
        max-width: 70%;
        font-size: 1rem;
        width: 100vw;
        margin-top: 2rem;
        font-weight: 300;
    }

    #h1{
        font-size: 1rem;
    }
}

@media(max-width: 950px){
    #changeBackground{
        display: flex;
        max-width: 70%;
        font-size: 2rem;  
     }
    
    #h1{
        font-size: 1.5rem;
    }

    #button-div{
        display: flex;
        flex-direction: column;
        margin-top: 2rem ;
     }
}

@media(max-width: 500px){
    #changeBackground{
        display: flex;
        max-width: 70%;
        font-size: 2rem;
        margin-top: 7rem;
     }
    
    #h1{
        font-size: 1rem;
        margin-bottom: 4rem;
    }

    #button-div{
        margin-top: 7rem;
    }
    
    .div-body{
        height: 98vh;
        width: auto;
        border: black solid 5px;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
    }
}